server {
    listen 80;
    server_name oci.jenkins.pauloazedo.dev;

    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }

    location / {
        return 200 'Jenkins is warming up...';
        add_header Content-Type text/plain;
    }
}