# Redirect HTTP to HTTPS
server {
    listen 80;
    server_name jenkins.pauloazedo.us;
    return 301 https://$host$request_uri;
}

# Secure proxy to Jenkins running on Docker
server {
    listen 443 ssl;
    server_name jenkins.pauloazedo.us;

    ssl_certificate /etc/letsencrypt/live/jenkins.pauloazedo.us/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/jenkins.pauloazedo.us/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location / {
        proxy_pass http://localhost:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}