server {
    listen 80;
    server_name oci.jenkins.pauloazedo.dev;

    location / {
        return 200 'Jenkins temporary HTTP config for certificate validation.';
        add_header Content-Type text/plain;
    }
}